@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <form method="post" enctype="multipart/form-data">
        <div>
            <input type="file" asp-for="Upload" />
            <span asp-validation-for="Upload"></span>
        </div>
        
        <input type="submit" />
    </form>

    @if(Model.RowCount != null)
    {
        var text = $"{Model.RowCount} transaction(s) imported";
        <p>@text</p>
    }
    
 
</div>
